@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Departman Personel Listesi</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active text-dark">Departman Adı : <strong>@ViewBag.depAd</strong></li>
</ol>
<br />

<table class="table table-bordered">
    <tr>
        <th>
            Personel Id
        </th>
        <th>
            Personel Ad
        </th>
        <th>
            Personel Soyad
        </th>
        <th>
            Personel Fotoğraf
        </th>
        <th>
            Personele Ait Satışlar
        </th>
    </tr>
    @foreach (var personel in Model)
    {
        <tr>
            <td class="text-center">@personel.PersonelId</td>
            <td class="text-center">@personel.PersonelAd</td>
            <td class="text-center">@personel.PersonelSoyad</td>
            <td class="text-center"><a class="btn btn-danger" href="@personel.PersonelFotograf">Fotoğraf</a></td>
            <td class="text-center"><a href="/Departman/DepartmanPersonelSatisBilgi/@personel.PersonelId" class="btn btn-danger">Satışlar</a></td>
        </tr>
    }
</table>
